
body {

    
    background-image: url(egor-myznik-t4rEARlf94A-unsplash.jpg);
    background-size: 70%;
}

h1 {
    text-align: center;
    color: lightgoldenrodyellow;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


h2 {

    text-align: center;
    color: lightsteelblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {

    
}